appdirs==1.4.4
asgiref==3.2.10
atomicwrites==1.4.0
attrs==20.2.0
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==7.1.2
colorama==0.4.4
comtypes==1.1.7
cycler==0.10.0
distlib==0.3.1

filelock==3.0.12
Flask==1.1.2

idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0

MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.3.2

nltk==3.5
numpy==1.19.2
packaging==20.4
Pillow==8.0.1
Pint==0.16.1
pluggy==0.13.1
py==1.9.0

pymongo==3.11.0
pyparsing==2.4.7
pypiwin32==223
pytest==6.1.1
python-dateutil==2.8.1
pyttsx3==2.90
pytz==2020.1

PyYAML==3.13

requests==2.24.0
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.2.19
sqlparse==0.3.1
toml==0.10.1
tqdm==4.51.0
urllib3==1.25.11
virtualenv==20.0.30
waitress==1.4.4

